*{
    font-family: Futura, sans-serif;
    
}

html {
    background-color: #1A1A1A; /*off-black*/
}


div{
    position:relative;
    background-color: #3A3A3A; /*gray*/
    max-width: 500px;
    min-width: 400px;
    max-height: 100%;
    box-sizing:border-box;
    padding: 30px 30px;
    border-radius:60px;
    margin:auto;
    /*Why did John Bura do all this instead of using margin:auto?   
    left:50%;
   -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);    
    transform:translate(-50%,0);
    */
}

h1{
    color:white;
    font-size: 50px;
    text-align:center;
    text-transform:uppercase;
    margin-top: 20px;
}

h2{
    color:white;
    font-size: 60px;
    text-align:center;
    margin-top: 20px;
}

input{
    background-color:white;
    border:none;
    font-size:30px;
    width:45%;
    padding: 10px 20px;
    border-radius:60px;
    color:orange;
    position:relative;
}

button{
    font-family:Futua, sans-serif;
    background-color: #FFDA47; /*light yellow*/
    line-height: 0;
    border:none;
    font-size:48px;
    padding: 15px 15px;
    border-radius:30px;
    width:100%;
    height: 48px;
    margin-bottom:25px;
    color:#3A3A3A;
    

}
button:hover{
    background-color:white;
    color:#3A3A3A;
} /*pseudo-selector :hover changes CSS properties when mouse hovers over element*/

button:focus {
    color:orange;
}


#btnClear{
    background-color:#E68A00; /*light orange*/
}

#btnClear:hover{
    background-color:white; 
    color:#3A3A3A;
}

#btnClear:focus {
    color:orange;
}

label{
 
    font-size:20px;
    color:#3A3A3A;
    box-sizing:border-box;
    padding: 60px 15px;
    display:block;
    position:relative;
    margin-top: -100px; /*label was underneath input field.  this moves the label into the input field box*/
    z-index:2; /*moves label to the front of the input field so you can see it*/
    pointer-events:none;/*the label is on top of the input field. this rule makes it so you can click on the element underneath which is the input field*/
}

input:focus{
    outline:none;
    background:#FFDA47; /*light yellow*/
    color:white;
} /*pseudo-selector :focus changes the input css properties when it is focused*/

input:valid{
    color:#3A3A3A;
} /*pseudo-selector :valid selects and styles only if the input is valid*/

input:focus ~ label{
    transform: translate(0, -45px);
    color:white;
}  /*this moves the label to the top of the field so the words don't interlap over the input while typing.  however, after typing in the input the words scoots back down again!*/

input:valid ~ label{
    transform:translate(0px,-45px);
    color:white;
} /*this moves and keeps the label out of the field after the input is focused*/